.container-login-page {
  background-color: transparent;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.container-login-page .sub-container-logo-tec {
  background-color: var(--white-regular);
  width: 40%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.container-login-page .sub-container-login {
  background-color: var(--blue-tec);
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sub-container-login .login {
  display: flex;
  flex-direction: column;
  margin: 5vw;
  height: 35%;
  justify-content: space-between;
  max-width: 30vw;
}

.login .span-create-account {
  cursor: pointer;
  margin-left: 1vw;
}
