.button {
  border: 1px;
  box-shadow: 0px 2px 8px var(--shadow);
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--white-regular);
  padding: 10px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s;
  font-family: 'Hind-Bold';
  width: 100%;
  display: flex;
  background: var(--blue-tec);
  align-items: center;
}

.lbl-button-base {
  width: 90%;
}

.button-disable {
  cursor: no-drop;
}

.button-enabled {
  cursor: pointer;
}

.button:hover {
  background: var(--gray);
}
