@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'), url(./assets/fonts/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: local('Montserrat-Light'), url(./assets/fonts/Montserrat-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: local('Montserrat-Medium'), url(./assets/fonts/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: local('Montserrat-SemiBold'), url(./assets/fonts/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'material-icon';
  src: local('material-icon'), url(./assets/fonts/Material/MaterialIcons-Regular.ttf) format('truetype');
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: var(--scroll-track);
}
::-webkit-scrollbar-thumb {
  background: var(--blue-tec);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-hover);
}

body {
  margin: 0;
}
